{% from 'macros/blocksupport.html' import render_container %}
<div class="pybay-section--compact">
  <header class="section-header">
    <span class="import-statement">
      <span class="keyword">from</span>
      <span class="module">pybay</span>
      <span class="keyword">import</span>
      <span class="name">{{ this.gallery_name.lower().replace(' ', '_') }}</span>
    </span>
    <h2>{{ this.gallery_name }}</h2>
    {% if this.info.url %}
      <a href="{{ this.info.url }}" class="text-small" style="margin-top: 4px; display: inline-block;">
        learn more &rarr;
      </a>
    {% endif %}
  </header>
  <div class="contributor-grid">
  {% for photo_image in this.add_gallery_members.blocks %}
    {{ photo_image }}
  {% endfor %}
  </div>
</div>
