{% from 'macros/blocksupport.html' import render_container %}
<div class="row text-center">
<h1>{{ this.gallery_name }}</h1>
{% if this.info.url %}
<a href="{{ this.info.url }}" aria-label="Go to {{this.gallery_name}} website" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
{% endif %}
</div>
<br>

{% for photo_images in this.add_gallery_members.blocks|slice(this.column_number) %}
<div class="gallery row  justify-content-around">
{% for photo_image in photo_images%}
{{ photo_image }}
{% endfor %}
</div>
<br>
{% endfor %}