{% from 'macros/blocksupport.html' import render_full_width_blocks %}
<div class="sl-group {{this.tier_name}} rotating-gradient">
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-12  sl-group-heading text-center">
            <h1 class="large-h1">{{ this.tier_name }}</h1><a href="{{ '/sponsors/sponsor-us/'|url }}" ><i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    <section class="subscribe-2">
        <div class="container">
          <section class="sponsor-list">
            <div class="border"></div>
            {{ render_full_width_blocks(this.add_sponsors.blocks, classes='col-md-12') }}
          </section>
        </div>
      </section>


</div>