{% set video = record.attachments.get(this.video) %}
<div class="hero-slider" style="padding: 0px; position: relative; overflow: hidden;" >
  <ul class="slides" style="list-style-type: none; height: {{ this.height }}px; position: relative; overflow: hidden;">
<li class="video-header flex-active-slide">
      <div class="video-wrapper">
        <video autoplay muted loop>
          <source src="{{ video|url }}" >
        </video>
      </div>
      {% if this.center_image %}
      {% set logo = record.attachments.get(this.center_image) %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <img alt="logo" class="logo" src="{{ logo|url }}">
      </div>
      </div>
      </div>
      {% endif %}
  {% if this.contents %}
{{ this.contents }}
{% endif %}
</li>
</ul>
</div>


