{% extends "layout.html" %}
{% from 'macros/blocksupport.html' import render_full_width_blocks %}
{% block title %}{{ this.title }}{% endblock %}
{% block bodyclass %}

{% endblock %}
{% block outerbody %}
<div class="sponsor-list-page">

  {{ render_full_width_blocks(this.body.blocks, classes='col-md-12') }}
  <div class="row justify-content-md-center py-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn attention text-white" style="background-color: darkgreen;" href="{{ '/sponsors/sponsor-us/'|url }}"  role="button" aria-disabled="true">Sponsor PyBay</a>
  </div>
  </div>
</div>
<div class="row sponsor-footer">
    <div class="sponsor-footer-list">
        
    </div>
</div>
{% endblock %}