
<div class="row sponsor-footer">
    <div class="sponsor-footer-list">
        <!-- {% for sponsor in site.get("").sponsor-block %}
          {% if sponsor.sponsor_logo %}
            <div class="footer-sponsor">
              <a href="{{ sponsor.sponsor_url }}" target="_blank" rel="noreferrer noopener">
                <img class="img-thumbnail" title="{{ sponsor.sponsor_name }}" alt="{{ sponsor.sponsor_name }}" src="{{  sponsor.image_logo }}" />
              </a>
            </div>
          {% endif %}
        {% endfor %} -->
    </div>
</div>